@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=REM:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.navbar a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    display: inline-block;
    font-size: 14px;
    margin: 0 10px; /* Adjusted margin for spacing */
}

.navbar a.logo {
    float: left;
    padding-left: 16px;
    margin-right: auto;
}

.navbar a.right {
    float: right;
    text-align: right;
    font-size: 12px;
}

.navbar a.right:first-child {
    margin-right: 12px; /* Adjusted margin for spacing */
}

.navbar a.right:last-child {
    margin-left: 12px; /* Adjusted margin for spacing */
}

.navbar a:hover {
    background-color: transparent;
    color: white;
}

@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }

    .navbar a.right {
        float: none;
        text-align: right;
        margin: 10px 0; /* Adjusted margin for spacing */
    }
}